<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data from Google Sheets</title>
  </head>
  <body>
    <h1>Data List</h1>
    <table border="1">
      <thead>
        <tr>
          {% for key in data[0].keys() %}
          <th>{{ key }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for record in data %}
        <tr>
          {% for value in record.values() %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
